@{
    Layout = "~/Views/Shared/_Client.cshtml";
}

<div class="d-flex mt-5">
    <div class="m-auto text-center">
        <h3 class="fw-bold">@ViewBag.Message</h3>
        <a href="/Home/DonHang">Click vào đây để trở về đơn hàng</a>
    </div>
</div>