/* Căn giữa hộp thoại SweetAlert với lớp tùy chỉnh */
.custom-swal .swal-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Cố định modal ở giữa màn hình */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Đặt modal vào chính giữa */
}

/* CSS cho spinner */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4c91d2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

/* Hiệu ứng quay cho spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
